<div class="container">
  <div class="cart-container">
    <div class="cart-content">
      <div class="cart-overall">
        <div class="cart-products">
          <h2>Cart&nbsp;</h2>
          <h2>({{ cart.length }})</h2>
        </div>
        <h2>
          <fa-icon
            title="Empty cart"
            (click)="emptyCart()"
            [icon]="faTrash"
          ></fa-icon>
        </h2>
      </div>
      <div class="cart-details">
        <div *ngFor="let product of products">
          <app-product-checkout [product]="product"></app-product-checkout>
        </div>
      </div>
    </div>

    <div class="checkout-cart">
      <div class="promo-code-container"></div>
      <div class="order-container">
        <span>Summary cost</span>
        <app-btn-shopping
          backgroundColor="rgb(17, 158, 0)"
          color="ghostwhite"
          text="Checkout"
        ></app-btn-shopping>
      </div>
    </div>
  </div>
</div>
