<div class="container">
  <div *ngIf="cart.length" class="cart-container">
    <div class="cart-content">
      <div class="cart-overall">
        <div class="cart-products">
          <h2>Cart&nbsp;</h2>
          <h2>({{ cart.length }})</h2>
        </div>
        <h2>
          <fa-icon
            title="Empty cart"
            (click)="emptyCart()"
            [icon]="faTrash"
          ></fa-icon>
        </h2>
      </div>
      <div class="cart-details">
        <div *ngFor="let product of products">
          <app-product-checkout [product]="product"></app-product-checkout>
        </div>
      </div>
    </div>
    <div class="checkout-cart">
      <div class="promo-code-container">
        <h3>Promo code</h3>
        <div>
          <input type="text" placeholder="Enter code here" />
          <app-btn-shopping
            backgroundColor="rgb(17, 158, 0)"
            color="ghostwhite"
            text="Apply code"
          ></app-btn-shopping>
        </div>
      </div>
      <div class="order-container">
        <div>
          <h3>Summary price:</h3>
          <h3>{{ sumProductsPrice() }}$</h3>
        </div>
        <a href="/checkout">
          <app-btn-shopping
            backgroundColor="rgb(17, 158, 0)"
            color="ghostwhite"
            text="Checkout"
          ></app-btn-shopping
        ></a>
      </div>
    </div>
  </div>
  <div *ngIf="!cart.length" class="empty-cart-container">
    <H3>Your cart is empty</H3>
    <a href=""
      ><app-btn-shopping
        backgroundColor="rgb(17, 158, 0)"
        color="ghostwhite"
        text="Go to home page"
      ></app-btn-shopping
    ></a>
  </div>
</div>
