<div class="container" *ngIf="loadedProduct">
  <div class="box">
    <div>
      <img [src]="product.img" alt="bike" />
    </div>
    <div>
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
    </div>
    <div class="add-to-cart-box">
      <h3>{{ product.price }}$</h3>
      <app-btn-shopping
        backgroundColor="{{ addToCartBtnColor }}"
        color="ghostwhite"
        text="{{ addToCartBtnText }}"
        (btnClick)="addToCart(product)"
        [disableStatus]="+!product.onStock"
      ></app-btn-shopping>

      <h4 class="on-stock-status" [ngStyle]="{ color: stockStatusColor }">
        {{ stockStatusText }}
      </h4>
    </div>
  </div>
</div>
