.container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: lightgray;
  align-items: center;
}
.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
H1 {
  padding: 0;
  margin: 0;
}
a {
  align-items: center;
  display: flex;
  margin: 0 10px;
  text-decoration: none;
  color: rgb(0, 89, 158);
}

a:hover {
  text-decoration: none;

  text-decoration: underline;
  /* color: rgb(94, 94, 94); */
}
fa-icon {
  padding: 0 5px 0 0;
}
