<div class="container">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#"><h3>Previous</h3></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#"><h3>1</h3></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/page/2"><h3>2</h3></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/page/3"><h3>3</h3></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#"><h3>Next</h3></a>
    </li>
  </ul>
</div>
