<div class="container">
  <app-btn-menu href="/categories" text="Categories"></app-btn-menu>
  <app-btn-menu href="/categories/bikes" text="Bikes"></app-btn-menu>
  <app-btn-menu href="/categories/parts" text="Bike parts"></app-btn-menu>
  <app-btn-menu href="/categories/accesories" text="Accesories"></app-btn-menu>
  <app-btn-menu href="/categories/tools" text="Tools"></app-btn-menu>
  <app-btn-menu href="/categories/clothes" text="Clothes"></app-btn-menu>
  <!-- <app-btn-menu text="Shipping"></app-btn-menu>
  <app-btn-menu text="Shipping"></app-btn-menu> -->
</div>
