.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
}
.cart-details {
  margin-top: 20px;
}
.cart-content {
  width: 60%;
}
.checkout-cart {
  border-color: rgb(221, 221, 221);
  margin-bottom: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  width: 30%;
}
H2 {
  margin: 0;
}
.cart-products :nth-child(2) {
  color: gray;
}
.cart-products {
  display: flex;
  flex-direction: row;
}
.cart-overall {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

fa-icon {
  color: gray;
}
fa-icon:hover {
  cursor: pointer;
  color: rgb(94, 94, 94);
}
h4,
h5 {
  padding: 0;
  margin: 1em;
}
