<div class="container">
  <div class="cart-container">
    <div class="cart-overall">
      <div class="cart-products">
        <h2>Cart&nbsp;</h2>
        <h2>({{ cart.length }})</h2>
      </div>
      <app-btn-shopping></app-btn-shopping>
    </div>
    <div class="cart-details">
      <div
        [routerLink]="['/products', product.id]"
        class="product"
        *ngFor="let product of products"
      >
        <h3>{{ product.name }}</h3>
        <h4>{{ product.price }}</h4>
      </div>
    </div>
  </div>
</div>
