H2 {
  margin: 5;
}
.cart-products :nth-child(2) {
  color: gray;
}
.cart-products {
  display: flex;
  flex-direction: row;
}
.cart-overall {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
fa-icon {
  color: gray;
}
fa-icon:hover {
  cursor: pointer;
  color: rgb(94, 94, 94);
}
h4,
h5 {
  padding: 0;
  margin: 1em;
}
